input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.view_comments{
    opacity: 0.7;
}
.button_{
   
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
   

}
a
{
    color: white;
    text-decoration: none;
}
.imgcontainer {
    text-align: center;
    margin: 50px 0 12px 0;
    position: relative;
  }
  .collapserow:hover
{
    cursor: pointer;
}
.collapse
{
    background-color: none;
}
.container
{
    width:100%;
}
.comments
{
    margin-left: 10%;
    
}